<%- include("partials/header.ejs") %>

<main class="container">

    <div class="row">

        <h2>BIG Personal Thoughts</h2>

        <div class=" col-12 p-5 mb-4 rounded secondary-color">

          <% for (var i = 0; i < userData.length; i++) { 
            if (userData[i].flexRadioDefault == "Personal") {%>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 text-decoration-none text-color recent-post-text" href="/view-post/<%=userData[i].slug%>">
                <div class="recent-post-image" style="background-image: url('http://localhost:3000/icons8-pencils-32.png')"></div>
                <div class="col-lg-8">
                    <h4 class="mb-0"><%= userData[i].title %></h4>
                    <small><%= userData[i].firstSentence %>...</small>
                </div>
                </a>
          <% }} %>

      
            <a  class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 text-decoration-none text-color recent-post-text" id="sacrifice" href="/view-post/sacrifice" onclick="entrySelector()">
                <div class="recent-post-image" style="background-image: url('http://localhost:3000/icons8-pencils-32.png')"></div>
                <div class="col-lg-8">
                  <h4 class="mb-0"><%= data[0].storedTitle %></h4>
                  <small><%= data[0].storedFirstSentence %>...</small>
                  <% //console.log(entrySelected) %>
                </div>
              </a>
  
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 text-decoration-none text-color recent-post-text" href="/view-post/mr-igl">
                <div class="recent-post-image" style="background-image: url('http://localhost:3000/icons8-pencils-32.png')"></div>
                <div class="col-lg-8">
                  <h4 class="mb-0"><%= data[3].storedTitle %></h4>
                  <small><%= data[3].storedFirstSentence %>...</small>
                </div>
              </a>
                
        </div>
    </div>
</main>

<%- include("partials/footer.ejs") %>